# This goes in /etc/cron.d/.
# Replace "apache" by your webserver user ("www-data" on Debian systems) and
# set the path to the Django project directory

@hourly  apache  django-admin runjobs hourly  --pythonpath /path/to/hyperkitty_standalone --settings settings
@daily   apache  django-admin runjobs daily   --pythonpath /path/to/hyperkitty_standalone --settings settings
@weekly  apache  django-admin runjobs weekly  --pythonpath /path/to/hyperkitty_standalone --settings settings
@monthly apache  django-admin runjobs monthly --pythonpath /path/to/hyperkitty_standalone --settings settings
@yearly  apache  django-admin runjobs yearly  --pythonpath /path/to/hyperkitty_standalone --settings settings
2,17,32,47 * * * * apache  django-admin runjobs quarter_hourly --pythonpath /path/to/hyperkitty_standalone --settings settings
